body{
	background: #f5f5f5;
	margin: 0;
	/* font-family: 'Arial Narrow', Arial, sans-serif; */
	font-family: sans-serif;
	display: flex;
	font-size: small;
}

br{
	line-height: 0.7;
}
span{
	line-height: 0.5;
	font-size: smaller;
}
.main > hr {
	height:2px;
	border-width:0;
	color: #C8C6C6;
	background-color:#C8C6C6
}
a{
	color: inherit;
}
ul{
	list-style-type: none;
	padding-left: 0;
}
h1{
	font-weight: 600;
	font-family: serif;
	line-height: 0.3;
}
h2{
	font-weight: 600;
	font-family: serif;
	line-height: 0.7;
}
h3{
	font-weight: 300;
}
div{
	position: absolute;
	height: 400%;
}

p {
	font-weight: 100;
}
.personal{
	padding-top: 5%;
	padding-left: 5%;
	width: 28%;
	-webkit-print-color-adjust: exact;
	background: #194c40;
	color: #f0f0f0;
}

.personal > ul {
	padding-left: 1rem;
}

span {
	color: rgba(255,255,255,0.4);
	font-size: medium;
}

.main span {
	color: #c0c3c9;
}

.main a{
	text-decoration: none;
	color: #0f3d5a
}

.main{
	width:60%;
	margin: 2%;
	left: 35%;
	top: 2%;
	font-weight: 500;
}

.profession{
	position: relative;
	top: -40px;
	font-weight: 600;
}


.progress-bar {
	background: rgba(255,255,255,0.4);
	position: relative;
	height: 6px;
	width: 80%;
	margin: 10px 0;
}

.progress-bar > *{
	height: 100%;
	background: white;
	width: var(--prog);
}
